<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    
    <title>Gnome Fight Club</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    
    <style>
        table.table-dark tbody tr:hover td{
            background-color: #444;
        }
        select.form-select, input.form-control, input.form-control:focus, option, span.input-group-text{
            background-color: #666;
            color: #eee;
            border-color:#444;
        }
        input.form-control:focus{
            background-color: #555;
        }
        span.input-group-text{
            background-color: #444;
        }
        input.form-control::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #aaa;
            opacity: 1;
        }
        input.form-control::ms-input-placeholder{ /* Internet Explorer 10-11 */
            color: #aaa;
        }
        input.form-control::-ms-input-placeholder{/* Microsoft Edge */
            color: #aaa;
        }
        .status-button{
            margin-left: 3px;
            margin-right: 3px;
            font: bolder normal normal 16px/1 FontAwesome;
        }
        #external-link-window{
            -webkit-box-shadow: 1px -1px 4px rgba(0,0,0,0.5);
            box-shadow: 1px -1px 4px 0 rgba(0,0,0,0.5);
            position: fixed;
            bottom: 0;
            left: 0;
            width: 520px;
            height: 600px;
            max-height:100vh;
            max-width: 100%;
            z-index:9001;
        }
        #external-link-window iframe{
            width: 500px;
            max-width: 100%;
            height:90%;
            margin: 0 auto;
            display: block;
        }
        #external-link-window .icon-big{
            font-size: 1.6rem;
            align-self: sflex-end;
            padding: 0 5px;
            cursor: pointer;
        }
        [v-cloak] {
            display: none;
        }
        .encounter-trivial{
            color: #2fbd00
        }
        .encounter-low{
            color: #7bbd00
        }
        .encounter-moderate{
            color: #b4bd00
        }
        .encounter-severe{
            color: #bd7e00
        }
        .encounter-extreme{
            color: #bd0900
        }
    </style>
</head>
<body class="bg-dark text-light">
    <div v-cloak id="app">
        <div v-if="activeLink !== false" id="external-link-window" class="bg-dark">
            <div class="d-flex flex-row-reverse">
                <i class="icon-big bi bi-x-circle" @click="closeLink"></i>
                <i @click.prevent="openLinkInPopup(activeLink, $event)" class="icon-big bi bi-box-arrow-up-right"></i>
            </div>
            <iframe align="middle" :src="activeLink" frameborder="0"></iframe>
        </div>
        <div class="container-fluid">
            <div class="row pt-4">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label for="partySizeFilter" class="form-label mb-0">Party size</label>
                                    <select v-model='partyFilters.partySizeFilter' class="form-select" id="partySizeFilter" @change="setUrlPartySize(partyFilters.partySizeFilter)">
                                        <option v-for="size in partySize" :value="size">{{size}} Players</option>
                                    </select>
                                </div>
                                <div class="col-lg-12">
                                    <label for="partyLevelFilter" class="form-label mb-0">Party level</label>
                                    <select v-model='partyFilters.partyLevelFilter' class="form-select" id="partyLevelFilter" v-on:click="setEncounterExp" @change="setUrlPartyLevel(partyFilters.partyLevelFilter)">
                                        <option v-for="level in partyLevel" :value="level">Level {{level}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>  
                        <div class="col-12 col-sm-6 mb-xs-1 mt-xs-1">
                            <ul class="list-group-flush ps-0">
                                <li v-for="difficulty in encounterDifficulties" class="d-flex justify-content-between align-items-center">
                                    <div :style="difficulty.isActive ? difficultyStyle : ''"><i :class="'bi-reception-'+difficulty.id+' encounter-'+difficulty.displayName.toLowerCase()" class="bi"></i> {{difficulty.displayName}}</div>
                                    <div :style="difficulty.isActive ? difficultyStyle : ''">{{difficulty.exp}} XP</div>
                                </li>
                            </ul>
                        </div>   
                    </div>
                    <div class="table-responsive">
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th class="col">Count</th>
                                    <th class="col">Template</th>
                                    <th class="col">Name</th>
                                    <th class="col">Level</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(creature, index) in encounterCreatures">
                                    <td class="text-nowrap">
                                        <button 
                                        type="button" 
                                        class="btn btn-success btn-sm add-button"
                                        v-bind:value="creature.data.name"
                                        v-on:click="addCreature(creature.data, creature.isWeak, creature.isElite, $event)"><i class="bi bi-plus"></i></button>
                                        <span style="padding-left:5px; padding-right:5px;">{{creature.amount}}</span>                                    
                                        <button 
                                        type="button" 
                                        class="btn btn-secondary btn-sm remove-button"
                                        v-on:click="removeCreature(creature, index, $event)"><i class="bi bi-dash"></i></button>
                                        <button 
                                        type="button" 
                                        class="btn btn-danger btn-sm remove-button"
                                        v-on:click="completelyRemoveCreature(creature, index, $event)"><i class="bi bi-x"></i></button>
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <button type="button" :class="creature.isWeak ? 'btn btn-success status-button' : 'btn btn-secondary status-button'" v-on:click="switchWeak(creature, index, $event)"><i class="bi bi-shield-slash"></i></button>
                                            <button type="button" :class="!creature.isWeak && !creature.isElite ? 'btn btn-success status-button' : 'btn btn-secondary status-button'" v-on:click="switchNormal(creature, index, $event)"><i class="bi bi-shield"></i></button>
                                            <button type="button" :class="creature.isElite ? 'btn btn-success status-button' : 'btn btn-secondary status-button'" v-on:click="switchElite(creature, index, $event)"><i class="bi bi-shield-plus"></i></button>
                                        </div>
                                    </td>
                                    <td>
                                        <a v-if="creature.data.link !== ''" :href="creature.data.link" @click.prevent="openLink(creature.data.link, $event)">
                                            <span v-if="creature.isWeak">Weak</span>
                                            <span v-if="creature.isElite">Elite</span>
                                            {{creature.data.name}}
                                        </a>
                                        <template v-else>
                                            <span v-if="creature.isWeak">Weak</span>
                                            <span v-if="creature.isElite">Elite</span>
                                            {{creature.data.name}}
                                        </template>
                                    </td>
                                    <td>
                                        <span v-if="!creature.isWeak && !creature.isElite"> {{creature.data.level}}</span>
                                        <span v-if="creature.isWeak"> {{creature.data.level-1}}</span>
                                        <span v-if="creature.isElite"> {{creature.data.level+1}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <span>TOTAL XP: {{encounterExp}} XP <b v-if="activeEncounterDifficulty.displayName != ''">(<i :class="'bi-reception-'+activeEncounterDifficulty.id+' encounter-'+activeEncounterDifficulty.displayName.toLowerCase()" class="bi"></i>{{activeEncounterDifficulty.displayName}})</b></span>
                    </div>
                    <div v-if="addedCreatures.length > 0" class="mt-2">
                        <button type="button" class="btn btn-primary mb-1" v-on:click="resetEncounter">Reset encounter</button>
                    </div>
                    <div v-if="addedCreatures.length > 0" class="mt-2 row">
                        <div class="col-8">
                            <input type="text" class="form-control" placeholder="Encounter name" v-model='encounterName'>
                        </div>          
                        <div class="col-4">
                            <button type="button" class="btn btn-primary w-100" v-on:click="saveEncounter" :disabled="encounterName.length === 0">Save encounter</button>
                        </div>              
                    </div>
                    <div v-if="encounters.length > 0" class="row mt-2">
                        <div class="col-8">
                            <select v-model='selectedEncounterId' class="form-select">
                                <option value="-1">Select encounter</option>
                                <option v-for="encounter in encounters" :value="encounter.id">{{encounter.name}}</option>
                            </select>
                        </div>
                        <div class="btn-group col-4" role="group">
                            <button type="button" class="btn btn-primary" v-on:click="loadEncounter" style="margin-right:3px;">Load encounter</button>
                            <button type="button" class="btn btn-danger" v-on:click="removeEncounter"><i class="bi bi-x ml-1"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row g-1">
                        <div class="order-1 order-md-2 col-8 col-sm-6 col-md-8 align-self-end">
                            <div class="w-100">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="bi bi-search d-md-none"></i> <span class="d-none d-md-inline">Search</span></span>
                                    <input type="text" class="form-control" placeholder="Creature name" v-model='filters.nameFilter'>
                                </div>
                            </div>       
                        </div>                
                        
                        <div class="order-2 oder-sm-1 order-md-1 col-4 col-sm-3 col-md-2">
                            <label for="levelMinFilter" class="form-label">Lvl Min</label>
                            <select v-model='filters.levelMinFilter' class="form-select" id="levelMinFilter">
                                <option v-for="level in levels" :value="level">{{level}}</option>
                            </select>
                        </div>                        
                        <div class="order-2 oder-sm-1 order-md-1 col-4 col-sm-3 col-md-2">
                            <label for="levelMaxFilter" class="form-label">Lvl Max</label>
                            <select v-model='filters.levelMaxFilter' class="form-select" id="levelMaxFilter">
                                <option v-for="level in levels" :value="level">{{level}}</option>
                            </select>
                        </div>
                        <div class="order-2 col-4 col-md-2">
                            <label for="familyFilter" class="form-label">Family</label>
                            <select v-model='filters.familyFilter' class="form-select" id="familyFilter">
                                <option v-for="family in families" :value="family.value">{{family.displayName}}</option>
                            </select>
                        </div>
                        <div class="order-2 col-4 col-sm col-md-2">
                            <label for="alignmentFilter" class="form-label">Alignment</label>
                            <select v-model='filters.alignmentFilter' class="form-select" id="alignmentFilter">
                                <option v-for="alignment in alignments" :value="alignment.value">{{alignment.displayName}}</option>
                            </select>
                        </div>                    
                        <div class="order-2 col-4 col-sm">
                            <label for="typeFilter" class="form-label">Type</label>
                            <select v-model='filters.typeFilter' class="form-select" id="typeFilter">
                                <option v-for="type in types" :value="type.value">{{type.displayName}}</option>
                            </select>
                        </div>                    
                        <div class="order-2 col-4 col-sm">
                            <label for="sizeFilter" class="form-label">Size</label>
                            <select v-model='filters.sizeFilter' class="form-select" id="sizeFilter">
                                <option v-for="size in sizes" :value="size.value">{{size.displayName}}</option>
                            </select>
                        </div>                      
                        <div class="order-1 order-sm-2 col-4 col-sm align-self-end">
                            <button type="button" class="btn btn-primary w-100" v-on:click="resetFilters">Reset filters</button>
                        </div>   
                    </div>
                    <div class="row flex-row-reverse pt-2">
                        <div class="col-auto"><button @click="createCustomCreature" type="button" class="btn btn-primary w-100">Create Custom Creature</button></div>
                    </div>
                    <div class="row">
                        <div class="col table-responsive">
                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">Add</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Level</th>
                                        <th scope="col">Family</th>
                                        <th scope="col">Alignment</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Size</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(creature, index) in customCreatures">
                                        <td>
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-success status-button"
                                                v-on:click="addCreature(creature, true, false, $event)"><i class="bi bi-shield-slash"></i></button>
                                                <button type="button" class="btn btn-success btn-sm status-button"
                                                v-on:click="addCreature(creature, false, false, $event)"><i class="bi bi-shield"></i></button>
                                                <button type="button" class="btn btn-success status-button"
                                                v-on:click="addCreature(creature, false, true, $event)"><i class="bi bi-shield-plus"></i></button>
                                                <button type="button" class="btn btn-danger status-button"
                                                v-on:click="removeCustomCreature(creature, index, $event)"><i class="bi bi-x"></i></button>
                                            </div>
                                        </td>
                                        <td><input type="text" v-model="creature.name" class="form-control"></td>
                                        <td>
                                            <select v-model='creature.level' class="form-select" @change="setEncounterExp">
                                                <option v-for="level in levels" :value="level">{{level}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select v-model='creature.family' class="form-select">
                                                <option v-for="family in families" :value="family.value">{{family.displayName}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select v-model='creature.alignment' class="form-select">
                                                <option v-for="alignment in alignments" :value="alignment.value">{{alignment.displayName}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select v-model='creature.type' class="form-select">
                                                <option v-for="type in types" :value="type.value">{{type.displayName}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select v-model='creature.size' class="form-select">
                                                <option v-for="size in sizes" :value="size.value">{{size.displayName}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr v-for="creature in filteredCreatureList">
                                        <td>
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-success status-button" v-on:click="addCreature(creature, true, false, $event)"><i class="bi bi-shield-slash"></i></button>
                                                <button type="button" class="btn btn-success btn-sm status-button" v-on:click="addCreature(creature, false, false, $event)"><i class="bi bi-shield"></i></button>
                                                <button type="button" class="btn btn-success status-button" v-on:click="addCreature(creature, false, true, $event)"><i class="bi bi-shield-plus"></i></button>
                                            </div>
                                        </td>
                                        <td><a :href="creature.link" @click.prevent="openLink(creature.link, $event)">{{creature.name}}</a></td>
                                        <td>{{creature.level}}</td>
                                        <td>{{creature.family}}</td>
                                        <td>{{creature.alignment}}</td>
                                        <td>{{creature.type}}</td>
                                        <td>{{creature.size}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src='./monsterTable2.js'></script>
    <script>    
        
        function lowerCaseMatch(search, objectKey){
            return (el) => {return el[objectKey].toLowerCase() === search.toLowerCase()};
        };
        
        function sortString(a, b){
            if(a.value < b.value) return -1;
            if(a.value > b.value) return 1;
            return 0;
        }
        
        function setDifficultiesBasedOnNumberOfPlayers(partySize, difficulties){
            difficulties[0].exp = 10*partySize;
            difficulties[1].exp = 15*partySize;
            difficulties[2].exp = 20*partySize;
            difficulties[3].exp = 30*partySize;
            difficulties[4].exp = 40*partySize;
        }
        
        function getCreatureLevel(creature){
            if(creature.isWeak){
                return creature.data.level -1;
            }
            if(creature.isElite){
                return creature.data.level +1;
            }
            return creature.data.level;
        }
        
        var getDefaultFilters = function(){
            return {nameFilter: '', alignmentFilter: '', levelMinFilter: 'All', levelMaxFilter: 'All', familyFilter: '', typeFilter: '', sizeFilter: ''};
        }       
        var getDefaultEncounterDifficulties = function(){
            return [
            {id: 0, displayName: "Trivial", exp: 40, isActive: false},
            {id: 1, displayName: "Low", exp: 60, isActive: false},
            {id: 2, displayName: "Moderate", exp: 80, isActive: false},
            {id: 3, displayName: "Severe", exp: 120, isActive: false},
            {id: 4, displayName: "Extreme", exp: 160, isActive: false}
            ];
        }
        
        var app = new Vue({
            el: '#app',
            data: {
                customCreatureId: 0,
                customCreatures:[],
                activeLink: false,
                creatureList: creatureList,
                filters: getDefaultFilters(),
                partyFilters: { partySizeFilter: 4, partyLevelFilter: 1},
                alignments: [],
                families: [],
                types: [],
                sizes: [],
                levels: [],
                addedCreatures: [],
                partySize: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                partyLevel: [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
                encounterExp: 0,
                difficultyStyle: "font-weight: bold;",
                encounters: [],
                encounterCounter: 1,
                encounterName: '',
                selectedEncounterId: -1
            },
            computed: {
                filteredCreatureList: function(){
                    var defaultFilters = getDefaultFilters();
                    var creatures = this.creatureList.filter((creature) => {
                        if(this.filters.alignmentFilter != defaultFilters.alignmentFilter && creature.alignment.toLowerCase() !== this.filters.alignmentFilter.toLowerCase()){
                            return false;
                        };
                        if(this.filters.familyFilter != defaultFilters.familyFilter && !creature.family.toLowerCase().includes(this.filters.familyFilter.toLowerCase())){
                            return false;
                        };
                        if(this.filters.typeFilter != defaultFilters.typeFilter && !creature.type.toLowerCase().includes(this.filters.typeFilter.toLowerCase())){
                            return false;
                        };
                        if(this.filters.sizeFilter != defaultFilters.sizeFilter && creature.size.toLowerCase() !== this.filters.sizeFilter.toLowerCase()){
                            return false;
                        };
                        if(this.filters.levelMinFilter != defaultFilters.levelMinFilter && creature.level < this.filters.levelMinFilter){
                            return false;
                        }
                        if(this.filters.levelMaxFilter != defaultFilters.levelMaxFilter && creature.level > this.filters.levelMaxFilter){
                            return false;
                        }
                        return creature.name.toLowerCase().includes(this.filters.nameFilter.toLowerCase()) && creature.alignment.toLowerCase();
                    });
                    return creatures.sort((a,b) => {
                        if(a.level > b.level) return 1;
                        if(a.level < b.level) return -1;
                        
                        if(a.name > b.name) return 1;
                        if(a.name < b.name) return -1;
                        
                        return 0;
                    });
                },
                encounterCreatures: function(){
                    return this.addedCreatures;
                },
                encounterDifficulties: function(){
                    var difficulties = getDefaultEncounterDifficulties();
                    var defaultFilters = getDefaultFilters();
                    setDifficultiesBasedOnNumberOfPlayers(this.partyFilters.partySizeFilter, difficulties);
                    
                    var activeDifficulties = difficulties.filter(diff => {
                        return this.encounterExp >= diff.exp;
                    })
                    if(activeDifficulties.length > 0){
                        var activeDifficulty = activeDifficulties[activeDifficulties.length-1];
                        activeDifficulty.isActive = this.addedCreatures.length > 0;
                    }
                    return difficulties;
                },
                activeEncounterDifficulty: function(){
                    return this.encounterDifficulties.filter(diff => diff.isActive)[0] || {displayName: ""};
                }
            },
            mounted: function(){
                this.creatureList.forEach((creature) => {
                    if(!this.alignments.find(lowerCaseMatch(creature.alignment, "value"))){                        
                        this.alignments.push({displayName:creature.alignment, value:creature.alignment.toLowerCase()});
                    }
                });
                this.alignments.sort(sortString);
                this.alignments.unshift({ displayName: 'All', value: '' });
                
                this.creatureList.forEach((creature) => {
                    creature.family.split(', ').forEach((family) => {
                        if(!this.families.find(lowerCaseMatch(family, "value"))){                        
                            this.families.push({displayName:family, value:family.toLowerCase()});
                        }
                    });
                    
                });
                this.families.sort(sortString);
                this.families.unshift({ displayName: 'All', value: '' });
                
                this.creatureList.forEach((creature) => {
                    creature.type.split(', ').forEach((type) => {
                        if(!this.types.find(lowerCaseMatch(type, "value"))){                        
                            this.types.push({displayName:type, value:type.toLowerCase()});
                        }
                    });
                    
                });
                this.types.sort(sortString);
                this.types.unshift({ displayName: 'All', value: '' });
                
                this.creatureList.forEach((creature) => {
                    if(!this.sizes.find(lowerCaseMatch(creature.size, "value"))){                        
                        this.sizes.push({displayName:creature.size, value:creature.size.toLowerCase()});
                    }
                });
                this.sizes.sort(sortString);
                this.sizes.unshift({ displayName: 'All', value: '' });
                
                this.creatureList.forEach((creature) => {
                    if(!this.levels.includes(creature.level)){                        
                        this.levels.push(creature.level);
                    }
                });
                this.levels.sort((a,b) => {
                    return a-b;
                });
                this.levels.unshift('All')

                this.setInitialValues();
            },
            watch:{
                customCreatures: {
                    handler: function(newCreatures, oldCreatures){
                        this.saveCreatures();
                    },
                    deep: true
                },
                addedCreatures: {
                    handler: function(newCreatures, oldCreatures){
                        this.saveCreatures();
                    },
                    deep: true
                },
                filters: {
                    handler: function(newFilters, oldFilters){
                        window.localStorage.filters = JSON.stringify(this.filters);
                    },
                    deep: true
                },
                encounters: {
                    handler: function(newEncounters, oldEncounters){
                        window.localStorage.encounters = JSON.stringify(this.encounters);
                    }
                }
            },
            methods:{
                createCustomCreature(){
                    this.customCreatureId++;
                    let maxFilter = this.filters.levelMaxFilter;
                    let minFilter = this.filters.levelMinFilter;
                    let level = 1;
                    if(minFilter !== "All" && maxFilter !== "All"){
                        level =  Math.floor((minFilter + maxFilter) / 2);
                    }else if(minFilter !== "All"){
                        level = minFilter;
                    }else if(maxFilter !== "All"){
                        level = maxFilter;
                    }
                    
                    this.customCreatures.push({ 
                        "id": "Custom-" + this.customCreatureId, 
                        "category": "Custom", 
                        "link": "", 
                        "name": "Custom Creature " + this.customCreatureId, 
                        "family": this.filters.familyFilter, 
                        "level": level, 
                        "alignment": this.filters.alignmentFilter, 
                        "type": this.filters.typeFilter, 
                        "size": this.filters.sizeFilter 
                    });
                },
                openLinkInPopup(link, event){
                    window.open(link);
                },
                closeLink(event){
                    this.activeLink = false;
                },
                openLink(link, event){
                    this.activeLink = link;
                },
                resetFilters: function(event){
                    this.filters = getDefaultFilters();
                },
                resetEncounter: function(event){
                    this.addedCreatures = [];
                },
                addCreature: function(creatureObject, isWeak, isElite, event){
                    var addedCreature = this.addedCreatures.filter(creature => creature.data.id === creatureObject.id && creature.isElite == isElite && creature.isWeak == isWeak)[0];
                    if(!addedCreature){
                        addedCreature = {data:creatureObject, amount:0, isElite:isElite, isWeak:isWeak};
                        this.addedCreatures.push(addedCreature);
                    }
                    addedCreature.amount++;
                    this.setEncounterExp();
                },
                removeCreature: function(creatureObject, index, event){
                    this.addedCreatures[index].amount--;
                    if(this.addedCreatures[index].amount <= 0){
                        this.addedCreatures.splice(index, 1);
                    }                    
                    this.setEncounterExp();
                },
                completelyRemoveCreature: function(creatureObject, index, event){
                    this.addedCreatures.splice(index, 1); 
                    this.setEncounterExp();
                },
                removeCustomCreature: function(creature, index, $event){
                    this.customCreatures.splice(index, 1);
                },
                setEncounterExp: function(){
                    this.encounterExp = 0;
                    
                    this.addedCreatures.forEach(creature => {
                        this.adjustEncounterExpForCreatureLvl(getCreatureLevel(creature), creature.amount);
                    });
                },
                saveCreatures: function(){
                    window.localStorage.addedCreatures = JSON.stringify(this.addedCreatures);
                    window.localStorage.customCreatures = JSON.stringify(this.customCreatures);
                    window.localStorage.customCreatureId = JSON.stringify(this.customCreatureId);
                },
                adjustEncounterExpForCreatureLvl: function(creatureLevel, multiplier){
                    var levelDiff = creatureLevel - this.partyFilters.partyLevelFilter;
                    var expValue = 0;
                    switch(levelDiff){
                        case -4: expValue = 10; break;
                        case -3: expValue = 15; break;
                        case -2: expValue = 20; break;
                        case -1: expValue = 30; break;
                        case 0: expValue = 40; break;
                        case 1: expValue = 60; break;
                        case 2: expValue = 80; break;
                        case 3: expValue = 120; break;
                        case 4: expValue = 160; break;
                    }
                    if(levelDiff > 4){
                        expValue = 300;
                    }
                    this.encounterExp += expValue*multiplier;
                },
                mergeSameCreature: function(creatureObject, index){
                    var sameCreature = this.addedCreatures.filter(creature => creature != creatureObject && creature.data.id == creatureObject.data.id && creature.isWeak == creatureObject.isWeak && creature.isElite == creatureObject.isElite)[0];
                    if(sameCreature){
                        sameCreature.amount += creatureObject.amount;
                        this.addedCreatures.splice(index, 1);
                    }
                },
                switchWeak: function(creature, index, event){
                    if(creature.isWeak){return;}
                    this.removeCreature(creature.data, index);
                    this.addCreature(creature.data, true, false);
                    this.mergeSameCreature(creature, index);
                    this.setEncounterExp();
                },
                switchElite: function(creature, index, event){
                    if(creature.isElite){return;}                    
                    this.removeCreature(creature.data, index);
                    this.addCreature(creature.data, false, true);
                    this.mergeSameCreature(creature, index);
                    this.setEncounterExp();
                },
                switchNormal: function(creature, index, event){
                    if(!creature.isWeak && !creature.isElite){return;}
                    this.removeCreature(creature.data, index);
                    this.addCreature(creature.data, false, false);
                    this.mergeSameCreature(creature, index);
                    this.setEncounterExp();
                },
                setUrlPartyLevel: function(partyLevel){
                    var url = new URL(window.location);
                    url.searchParams.set("partyLevel", partyLevel);
                    window.history.pushState(window.history.state, '', url);
                },
                setUrlPartySize: function(partySize){
                    var url = new URL(window.location);
                    url.searchParams.set("partySize", partySize);
                    window.history.pushState(window.history.state, '', url);
                },
                setInitialValues: function(){
                    var url = new URL(window.location);
                    var partyLevel = url.searchParams.get("partyLevel");
                    var partySize = url.searchParams.get("partySize");
                    if(partyLevel >= 1 && partyLevel <= 20){
                        this.partyFilters.partyLevelFilter = partyLevel;
                    }
                    else{
                        this.setUrlPartyLevel(this.partyFilters.partyLevelFilter);
                    }
                    if(partySize >= 1 && partySize <= 10){
                        this.partyFilters.partySizeFilter = partySize;
                    }
                    else{
                        this.setUrlPartySize(this.partyFilters.partySizeFilter);
                    }

                    this.filters = JSON.parse(window.localStorage.filters) || this.filters;
                    this.addedCreatures = JSON.parse(window.localStorage.addedCreatures) || this.addedCreatures;
                    this.customCreatures = JSON.parse(window.localStorage.customCreatures) || this.customCreatures;
                    this.customCreatureId = JSON.parse(window.localStorage.customCreatureId) || this.customCreatureId;
                    this.encounters = JSON.parse(window.localStorage.encounters) || this.encounters;
                    this.setEncounterExp();
                },
                saveEncounter: function(){
                    this.encounters.push({
                        name: this.encounterName, 
                        stringifyCreatures: JSON.stringify(this.addedCreatures),
                        numberOfCreatures: this.addedCreatures.length,
                        id: this.encounterCounter
                    });
                    this.encounterCounter++;
                    this.encounterName = '';
                },
                loadEncounter: function(){
                    var encounter = this.encounters.filter(encounter => encounter.id === this.selectedEncounterId)[0];
                    if(encounter){
                        this.addedCreatures = JSON.parse(encounter.stringifyCreatures);
                    }
                },
                removeEncounter: function(){
                    var index = this.encounters.findIndex(encounter => encounter.id === this.selectedEncounterId);
                    if(index != -1){
                        this.encounters.splice(index, 1);
                    }
                    this.selectedEncounterId = -1;
                }
            }
        })
    </script>
    <!-- bootstrap - Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>