<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    
    <title>Gnome Fight Club</title>
    <script src="https://unpkg.com/vue"></script>
    
    <style>
        tbody tr:hover{
            background-color: lightgray;
        }
        .row-filter{
            display: inline-block;
        }
        .add-button{
            padding-bottom: 4px;
            padding-top: 4px;
            padding-left: 7px;
            padding-right: 7px;
            display: inline-block;
            font: bolder normal normal 16px/1 FontAwesome;
        }
        .remove-button{
            padding-bottom: 5px;
            padding-top: 3px;
            padding-left: 9px;
            padding-right: 9px;
            margin-left: 2px;
            margin-right: 2px;
            display: inline-block;
            font: bolder normal normal 16px/1 FontAwesome;
        }
        .status-button{
            padding-bottom: 5px;
            padding-top: 3px;
            padding-left: 5px;
            padding-right: 5px;
            margin-left: 3px;
            margin-right: 3px;
            font: bolder normal normal 16px/1 FontAwesome;
        }
        #external-link-window{
            -webkit-box-shadow: 1px -1px 4px 0 #454545;
            box-shadow: 1px -1px 4px 0 #454545;
            position: fixed;
            bottom: 0;
            left: 0;
            background: #FFF;
            width: 520px;
            height: 600px;
            max-height:100vh;
            max-width: 100%;
            z-index:9001;
        }
        #external-link-window iframe{
            width: 500px;
            max-width: 100%;
            height:90%;
            margin: 0 auto;
            display: block;
        }
        #external-link-window .icon-big{
            font-size: 1.6rem;
            align-self: sflex-end;
            padding: 0 5px;
            cursor: pointer;
        }
        [v-cloak] {
            display: none;
        }
        .encounter-trivial{
            color: #2fbd00
        }
        .encounter-low{
            color: #7bbd00
        }
        .encounter-moderate{
            color: #b4bd00
        }
        .encounter-severe{
            color: #bd7e00
        }
        .encounter-extreme{
            color: #bd0900
        }
    </style>
</head>
<body>
    <div v-cloak id="app">
        <div v-if="activeLink !== false" id="external-link-window">
            <div class="d-flex flex-row-reverse">
                <i class="icon-big bi bi-x-circle" @click="closeLink"></i>
                <i @click.prevent="openLinkInPopup(activeLink, $event)" class="icon-big bi bi-box-arrow-up-right"></i>
            </div>
            <iframe align="middle" :src="activeLink" frameborder="0"></iframe>
        </div>
        <div class="container-fluid">
            <div class="row pt-4">
                <div class="col-lg-4">
                    <div class="row">

                        <div class="col-12 col-sm-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label for="partySizeFilter" class="form-label mb-0">Party size</label>
                                    <select v-model='partyFilters.partySizeFilter' class="form-select" id="partySizeFilter">
                                        <option v-for="size in partySize" :value="size">{{size}} Players</option>
                                    </select>
                                </div>
                                <div class="col-lg-12">
                                    <label for="partyLevelFilter" class="form-label mb-0">Party level</label>
                                    <select v-model='partyFilters.partyLevelFilter' class="form-select" id="partyLevelFilter" v-on:click="setEncounterExp">
                                        <option v-for="level in partyLevel" :value="level">Level {{level}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>  
                        <div class="col-12 col-sm-6 mb-xs-1 mt-xs-1">
                            <ul class="list-group-flush ps-0">
                                <li v-for="difficulty in encounterDifficulties" class="d-flex justify-content-between align-items-center">
                                    <div :style="difficulty.isActive ? difficultyStyle : ''"><i :class="'bi-reception-'+difficulty.id+' encounter-'+difficulty.displayName.toLowerCase()" class="bi"></i> {{difficulty.displayName}}</div>
                                    <div :style="difficulty.isActive ? difficultyStyle : ''">{{difficulty.exp}} XP</div>
                                </li>
                            </ul>
                        </div>   
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col">Count</th>
                                    <th class="col">Template</th>
                                    <th class="col">Name</th>
                                    <th class="col">Level</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(creature, index) in encounterCreatures">
                                    <td class="text-nowrap">
                                        <button 
                                        type="button" 
                                        class="btn btn-success btn-sm add-button"
                                        v-bind:value="creature.data.name"
                                        v-on:click="addCreature(creature.data, creature.isWeak, creature.isElite, $event)">+</button>
                                        <span style="padding-left:5px; padding-right:5px;">{{creature.amount}}</span>                                    
                                        <button 
                                        type="button" 
                                        class="btn btn-secondary btn-sm remove-button"
                                        v-on:click="removeCreature(creature, index, $event)">-</button><button 
                                        type="button" 
                                        class="btn btn-danger btn-sm remove-button"
                                        v-on:click="completelyRemoveCreature(creature, index, $event)">x</button>
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <button type="button" :class="creature.isWeak ? 'btn btn-success status-button' : 'btn btn-secondary status-button'" v-on:click="switchWeak(creature, index, $event)"><i class="bi bi-shield-slash"></i></button>
                                            <button type="button" :class="!creature.isWeak && !creature.isElite ? 'btn btn-success status-button' : 'btn btn-secondary status-button'" v-on:click="switchNormal(creature, index, $event)"><i class="bi bi-shield"></i></button>
                                            <button type="button" :class="creature.isElite ? 'btn btn-success status-button' : 'btn btn-secondary status-button'" v-on:click="switchElite(creature, index, $event)"><i class="bi bi-shield-plus"></i></button>
                                        </div>
                                    </td>
                                    <td>
                                        <a :href="creature.data.link" @click.prevent="openLink(creature.data.link, $event)">
                                            <span v-if="creature.isWeak">Weak</span>
                                            <span v-if="creature.isElite">Elite</span>
                                            {{creature.data.name}}
                                        </a>
                                    </td>
                                    <td>
                                        <span v-if="!creature.isWeak && !creature.isElite"> {{creature.data.level}}</span>
                                        <span v-if="creature.isWeak"> {{creature.data.level-1}}</span>
                                        <span v-if="creature.isElite"> {{creature.data.level+1}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <span>TOTAL XP: {{encounterExp}} XP <b v-if="activeEncounterDifficulty.displayName != ''">(<i :class="'bi-reception-'+activeEncounterDifficulty.id+' encounter-'+activeEncounterDifficulty.displayName.toLowerCase()" class="bi"></i>{{activeEncounterDifficulty.displayName}})</b></span>
                    </div>
                    <div v-if="addedCreatures.length > 0" class="mt-2">
                        <button type="button" class="btn btn-primary mb-1" v-on:click="resetEncounter">Reset encounter</button>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row g-1">

                        <div class="order-1 order-md-2 col-8 col-sm-6 col-md-8 align-self-end">
                            <div class="w-100">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="bi bi-search d-md-none"></i> <span class="d-none d-md-inline">Search</span></span>
                                    <input type="text" class="form-control" placeholder="Creature name" aria-label="Creature Name" aria-describedby="basic-addon1" v-model='filters.nameFilter'>
                                </div>
                            </div>       
                        </div>                
                        
                        <div class="order-2 oder-sm-1 order-md-1 col-4 col-sm-3 col-md-2">
                            <label for="levelMinFilter" class="form-label">Lvl Min</label>
                            <select v-model='filters.levelMinFilter' class="form-select" id="levelMinFilter">
                                <option v-for="level in levels" :value="level">{{level}}</option>
                            </select>
                        </div>                        
                        <div class="order-2 oder-sm-1 order-md-1 col-4 col-sm-3 col-md-2">
                            <label for="levelMaxFilter" class="form-label">Lvl Max</label>
                            <select v-model='filters.levelMaxFilter' class="form-select" id="levelMaxFilter">
                                <option v-for="level in levels" :value="level">{{level}}</option>
                            </select>
                        </div>
                        <div class="order-2 col-4 col-md-2">
                            <label for="familyFilter" class="form-label">Family</label>
                            <select v-model='filters.familyFilter' class="form-select" id="familyFilter">
                                <option v-for="family in families" :value="family.value">{{family.displayName}}</option>
                            </select>
                        </div>
                        <div class="order-2 col-4 col-sm col-md-2">
                            <label for="alignmentFilter" class="form-label">Alignment</label>
                            <select v-model='filters.alignmentFilter' class="form-select" id="alignmentFilter">
                                <option v-for="alignment in alignments" :value="alignment.value">{{alignment.displayName}}</option>
                            </select>
                        </div>                    
                        <div class="order-2 col-4 col-sm">
                            <label for="typeFilter" class="form-label">Type</label>
                            <select v-model='filters.typeFilter' class="form-select" id="typeFilter">
                                <option v-for="type in types" :value="type.value">{{type.displayName}}</option>
                            </select>
                        </div>                    
                        <div class="order-2 col-4 col-sm">
                            <label for="sizeFilter" class="form-label">Size</label>
                            <select v-model='filters.sizeFilter' class="form-select" id="sizeFilter">
                                <option v-for="size in sizes" :value="size.value">{{size.displayName}}</option>
                            </select>
                        </div>                      
                        <div class="order-1 order-sm-2 col-4 col-sm align-self-end">
                            <button type="button" class="btn btn-primary w-100" v-on:click="resetFilters">Reset filters</button>
                        </div>   
                    </div>
                
                    <div class="row">
                        <div class="col table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Add</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Level</th>
                                        <th scope="col">Family</th>
                                        <th scope="col">Alignment</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Size</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="creature in filteredCreatureList">
                                        <td>
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-success status-button" v-on:click="addCreature(creature, true, false, $event)"><i class="bi bi-shield-slash"></i></button>
                                                <button type="button" class="btn btn-success btn-sm status-button" v-on:click="addCreature(creature, false, false, $event)"><i class="bi bi-shield"></i></button>
                                                <button type="button" class="btn btn-success status-button" v-on:click="addCreature(creature, false, true, $event)"><i class="bi bi-shield-plus"></i></button>
                                            </div>
                                        </td>
                                        <td><a :href="creature.link" @click.prevent="openLink(creature.link, $event)">{{creature.name}}</a></td>
                                        <td>{{creature.level}}</td>
                                        <td>{{creature.family}}</td>
                                        <td>{{creature.alignment}}</td>
                                        <td>{{creature.type}}</td>
                                        <td>{{creature.size}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src='./monsterTable2.js'></script>
    <script>    
        
        function lowerCaseMatch(search, objectKey){
            return (el) => {return el[objectKey].toLowerCase() === search.toLowerCase()};
        };
        
        function sortString(a, b){
            return b.value - a.value;
        }
        
        function setDifficultiesBasedOnNumberOfPlayers(partySize, difficulties){
            difficulties[0].exp = 10*partySize;
            difficulties[1].exp = 15*partySize;
            difficulties[2].exp = 20*partySize;
            difficulties[3].exp = 30*partySize;
            difficulties[4].exp = 40*partySize;
        }
        
        function getCreatureLevel(creature){
            if(creature.isWeak){
                return creature.data.level -1;
            }
            if(creature.isElite){
                return creature.data.level +1;
            }
            return creature.data.level;
        }
        
        var getDefaultFilters = function(){
            return {nameFilter: '', alignmentFilter: '', levelMinFilter: 'All', levelMaxFilter: 'All', familyFilter: '', typeFilter: '', sizeFilter: ''};
        }       
        var getDefaultEncounterDifficulties = function(){
            return [
            {id: 0, displayName: "Trivial", exp: 40, isActive: false},
            {id: 1, displayName: "Low", exp: 60, isActive: false},
            {id: 2, displayName: "Moderate", exp: 80, isActive: false},
            {id: 3, displayName: "Severe", exp: 120, isActive: false},
            {id: 4, displayName: "Extreme", exp: 160, isActive: false}
            ];
        }
        
        var app = new Vue({
            el: '#app',
            data: {
                activeLink: false,
                creatureList: creatureList,
                filters: getDefaultFilters(),
                partyFilters: { partySizeFilter: 4, partyLevelFilter: 1},
                alignments: [{displayName:'All', value:''}],
                families: [{displayName: 'All', value:''}],
                types: [{displayName:'All', value:''}],
                sizes: [{displayName:'All', value:''}],
                levels: ['All'],
                addedCreatures: [],
                partySize: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                partyLevel: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
                encounterExp: 0,
                difficultyStyle: "font-weight: bold;"
            },
            computed: {
                filteredCreatureList: function(){
                    var defaultFilters = getDefaultFilters();
                    var creatures = this.creatureList.filter((creature) => {
                        if(this.filters.alignmentFilter != defaultFilters.alignmentFilter && creature.alignment.toLowerCase() !== this.filters.alignmentFilter.toLowerCase()){
                            return false;
                        };
                        if(this.filters.familyFilter != defaultFilters.familyFilter && !creature.family.toLowerCase().includes(this.filters.familyFilter.toLowerCase())){
                            return false;
                        };
                        if(this.filters.typeFilter != defaultFilters.typeFilter && !creature.type.toLowerCase().includes(this.filters.typeFilter.toLowerCase())){
                            return false;
                        };
                        if(this.filters.sizeFilter != defaultFilters.sizeFilter && creature.size.toLowerCase() !== this.filters.sizeFilter.toLowerCase()){
                            return false;
                        };
                        if(this.filters.levelMinFilter != defaultFilters.levelMinFilter && creature.level < this.filters.levelMinFilter){
                            return false;
                        }
                        if(this.filters.levelMaxFilter != defaultFilters.levelMaxFilter && creature.level > this.filters.levelMaxFilter){
                            return false;
                        }
                        return creature.name.toLowerCase().includes(this.filters.nameFilter.toLowerCase()) && creature.alignment.toLowerCase();
                    });
                    return creatures.sort((a,b) => {
                        if(a.level > b.level) return 1;
                        if(a.level < b.level) return -1;
                        
                        if(a.name > b.name) return 1;
                        if(a.name < b.name) return -1;
                        
                        return 0;
                    });
                },
                encounterCreatures: function(){
                    return this.addedCreatures;
                },
                encounterDifficulties: function(){
                    var difficulties = getDefaultEncounterDifficulties();
                    var defaultFilters = getDefaultFilters();
                    setDifficultiesBasedOnNumberOfPlayers(this.partyFilters.partySizeFilter, difficulties);
                    
                    var activeDifficulties = difficulties.filter(diff => {
                        return this.encounterExp >= diff.exp;
                    })
                    if(activeDifficulties.length > 0){
                        var activeDifficulty = activeDifficulties[activeDifficulties.length-1];
                        activeDifficulty.isActive = this.addedCreatures.length > 0;
                    }
                    return difficulties;
                },
                activeEncounterDifficulty: function(){
                    return this.encounterDifficulties.filter(diff => diff.isActive)[0] || {displayName: ""};
                }
            },
            mounted: function(){
                this.creatureList.forEach((creature) => {
                    if(!this.alignments.find(lowerCaseMatch(creature.alignment, "value"))){                        
                        this.alignments.push({displayName:creature.alignment, value:creature.alignment.toLowerCase()});
                    }
                });
                this.alignments.sort(sortString);
                
                this.creatureList.forEach((creature) => {
                    creature.family.split(', ').forEach((family) => {
                        if(!this.families.find(lowerCaseMatch(family, "value"))){                        
                            this.families.push({displayName:family, value:family.toLowerCase()});
                        }
                    });
                    
                });
                this.families.sort(sortString);
                
                this.creatureList.forEach((creature) => {
                    creature.type.split(', ').forEach((type) => {
                        if(!this.types.find(lowerCaseMatch(type, "value"))){                        
                            this.types.push({displayName:type, value:type.toLowerCase()});
                        }
                    });
                    
                });
                this.types.sort(sortString);
                
                this.creatureList.forEach((creature) => {
                    if(!this.sizes.find(lowerCaseMatch(creature.size, "value"))){                        
                        this.sizes.push({displayName:creature.size, value:creature.size.toLowerCase()});
                    }
                });
                this.sizes.sort(sortString);
                
                this.creatureList.forEach((creature) => {
                    if(!this.levels.includes(creature.level)){                        
                        this.levels.push(creature.level);
                    }
                });
                this.levels.sort((a,b) => {
                    return a-b;
                });
            },
            methods:{
                openLinkInPopup(link, event){
                    window.open(link);
                },
                closeLink(event){
                    this.activeLink = false;
                },
                openLink(link, event){
                    this.activeLink = link;
                },
                resetFilters: function(event){
                    this.filters = getDefaultFilters();
                },
                resetEncounter: function(event){
                    this.addedCreatures = [];
                },
                addCreature: function(creatureObject, isWeak, isElite, event){
                    var addedCreature = this.addedCreatures.filter(creature => creature.data.name === creatureObject.name && creature.isElite == isElite && creature.isWeak == isWeak)[0];
                    if(!addedCreature){
                        addedCreature = {data:creatureObject, amount:0, isElite:isElite, isWeak:isWeak};
                        this.addedCreatures.push(addedCreature);
                    }
                    addedCreature.amount++;
                    this.setEncounterExp();
                },
                removeCreature: function(creatureObject, index, event){
                    this.addedCreatures[index].amount--;
                    if(this.addedCreatures[index].amount <= 0){
                        this.addedCreatures.splice(index, 1);
                    }                    
                    this.setEncounterExp();
                },
                completelyRemoveCreature: function(creatureObject, index, event){
                    this.addedCreatures.splice(index, 1); 
                    this.setEncounterExp();
                },
                setEncounterExp: function(){
                    this.encounterExp = 0;
                    
                    this.addedCreatures.forEach(creature => {
                        this.adjustEncounterExpForCreatureLvl(getCreatureLevel(creature), creature.amount);
                    });
                },
                adjustEncounterExpForCreatureLvl: function(creatureLevel, multiplier){
                    var levelDiff = creatureLevel - this.partyFilters.partyLevelFilter;
                    var expValue = 0;
                    switch(levelDiff){
                        case -4: expValue = 10; break;
                        case -3: expValue = 15; break;
                        case -2: expValue = 20; break;
                        case -1: expValue = 30; break;
                        case 0: expValue = 40; break;
                        case 1: expValue = 60; break;
                        case 2: expValue = 80; break;
                        case 3: expValue = 120; break;
                        case 4: expValue = 160; break;
                    }
                    if(levelDiff > 4){
                        expValue = 300;
                    }
                    this.encounterExp += expValue*multiplier;
                },
                mergeSameCreature: function(creatureObject, index){
                    var sameCreature = this.addedCreatures.filter(creature => creature != creatureObject && creature.data.name == creatureObject.data.name && creature.isWeak == creatureObject.isWeak && creature.isElite == creatureObject.isElite)[0];
                    if(sameCreature){
                        sameCreature.amount += creatureObject.amount;
                        this.addedCreatures.splice(index, 1);
                    }
                },
                switchWeak: function(creature, index, event){
                    if(creature.isWeak){return;}
                    this.removeCreature(creature.data, index);
                    this.addCreature(creature.data, true, false);
                    this.mergeSameCreature(creature, index);
                    this.setEncounterExp();
                },
                switchElite: function(creature, index, event){
                    if(creature.isElite){return;}                    
                    this.removeCreature(creature.data, index);
                    this.addCreature(creature.data, false, true);
                    this.mergeSameCreature(creature, index);
                    this.setEncounterExp();
                },
                switchNormal: function(creature, index, event){
                    if(creature.isWeak && creature.isElite){return;}
                    this.removeCreature(creature.data, index);
                    this.addCreature(creature.data, false, false);
                    this.mergeSameCreature(creature, index);
                    this.setEncounterExp();
                }
            }
        })
    </script>
    <!-- bootstrap - Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>